@import 'tailwindcss';

@view-transition {
    navigation: auto;
}

/* header {
    view-transition-name: header;
} */

:root {
    color-scheme: light dark;

    --font-family: -apple-system, system-ui, sans-serif;
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT,
        Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
        Courier, monospace;
    --font-family-serif: 'Crimson Pro', Times, serif;

    /* Minor Third */
    --step--3: 0.579rem;
    --step--2: 0.694rem;
    --step--1: 0.833rem;
    --step-0: 1rem;
    --step-1: 1.2rem;
    --step-2: 1.44rem;
    --step-3: 1.728rem;
    --step-4: 2.074rem;
    --step-5: 2.488rem;

    --body-width: 40rem;
    --body-width: 60ch;

    --text-color: hsl(var(--text-color-values));
    --text-color-faded: hsl(var(--text-color-values) / 0.5);
    --text-color-2xfaded: hsl(var(--text-color-values) / 0.3);
    --text-color-link: hsl(var(--text-color-link-values));
    --background-color: hsl(var(--background-color-values));

    --text-color-values: 0 0% 25%;
    --text-color-link-values: 10.63, 45.28%, 41.57%;
    --background-color-values: 0, 0%, 96.08%;

    @media (prefers-color-scheme: dark) {
        --text-color-values: 0 2.63% 85.1%;
        --text-color-link-values: 209.49, 55.14%, 79.02%;
        --background-color-values: 210, 34.38%, 12.55%;
    }
}

html {
    font-size: 16px;
}
body {
    font-size: 20px;
    padding: 0;
    margin: 0 auto;
    font-family: var(--font-family-serif);
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.25;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    max-width: var(--body-width);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 100%;
    max-width: var(--body-width);
    margin-inline: auto;
    flex-grow: 1;
    padding-inline: 1rem;
}
main :first-child {
    margin-top: 0;
}

/* flow  */
.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
}

:is(h1, h2, h3) + *:not(blockquote) {
    --flow-space: 0.5em;
}

section {
    margin-block-start: 4rem;
}

h1,
h2,
h3 {
    line-height: 0.9;
    text-wrap: pretty;
    text-wrap: balance;
    letter-spacing: -1px;
}
h1 {
    font-size: var(--step-4);
    font-weight: 600;
}
h2 {
    font-size: var(--step-3);
    font-weight: 600;
}
h3 {
    font-size: var(--step-2);
}
h4 {
    font-size: var(--step-1);
}
h5 {
    font-size: var(--step-0);
}
h6 {
    font-size: var(--step-0);
}

a {
    text-decoration: underline;
}

a.no-underline {
    text-decoration: none;
}

img {
    font-style: italic;
    /* background: linear-gradient(
        135deg,
        var(--background-color),
        var(--text-color-link)
    ); */
    border: 1px var(--text-color-faded) solid;
}

blockquote {
    padding-left: 1rem;
    border-left: 2px var(--text-color-link) solid;
}

cite {
    font-size: var(--step--1);
}

code {
    background: #00000011;
    font-size: var(--step-0);
}

article a {
    color: var(--text-color-link);
}

article img {
    margin-inline: auto;
}

article kbd {
    background: #ddd;
    border-radius: 4px;
    padding: 2px 4px;
    color: black;
    font-size: var(--step--1);
}

article ul,
article ol {
    padding-left: 1em;
}
article ol li {
    list-style: decimal;
}
article li {
    list-style: disc;
}
article li li {
    list-style-type: '- ';
}

.small-image {
    width: 50%;
    margin-inline: auto;
}

@media (prefers-color-scheme: dark) {
    code {
        background: #ffffff22;
    }

    .button {
        background: white;
        color: black;
    }
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button {
    background: black;
    color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

hr {
    border-color: var(--text-color-faded);
    margin-inline: 2rem;
}

th,
td {
    text-align: left;
    padding-inline-end: 1rem;
}
