---
import { getCollection } from "astro:content";
import MainFlow from "@layouts/MainFlow.astro";
import PostListing from "@components/PostListing.astro";
import ProjectListing from "@components/ProjectListing.astro";

export async function getStaticPaths() {
    const blogPosts = await getCollection("blog");
    const projects = await getCollection("projects");

    const uniqueTags = Array.from(
        new Set([
            ...blogPosts
                .map((blog) => blog.data.tags)
                .flat()
                .map((t) => t?.toLowerCase()),
            ...projects
                .map((project) => project.data.tags)
                .flat()
                .map((t) => t?.toLowerCase()),
        ]),
    );

    return uniqueTags.map((tag) => {
        const filteredBlog = blogPosts
            .filter((post) =>
                post.data.tags?.map((t) => t?.toLowerCase()).includes(tag),
            )
            .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
        const filteredProjects = projects
            .filter((project) =>
                project.data.tags?.map((t) => t?.toLowerCase()).includes(tag),
            )
            .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

        return {
            params: { tag: tag },
            props: {
                tag,
                filteredBlog,
                filteredProjects,
            },
        };
    });
}

const { tag } = Astro.params;
const { filteredBlog, filteredProjects } = Astro.props;
---

<MainFlow title={tag}>
    <h1>Tagged "{tag}"</h1>
    {
        filteredBlog.length > 0 && (
            <>
                <h2>Blog Posts</h2>
                <ul>
                    {filteredBlog.map((post) => (
                        <PostListing post={post} />
                    ))}
                </ul>
            </>
        )
    }

    {
        filteredProjects.length > 0 && (
            <>
                <h2>Projects</h2>
                <ul class="flex flex-col gap-6">
                    {filteredProjects.map((project) => (
                        <ProjectListing project={project} />
                    ))}
                </ul>
            </>
        )
    }

    <p>
        See
        <a href="/tags">all tags</a>
    </p>
</MainFlow>
