---
import MainFlow from '@layouts/MainFlow.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');
const projects = await getCollection('projects');

const allTags = [
    ...blogPosts.map((blog) => blog.data.tags).flat(),
    ...projects.map((project) => project.data.tags).flat(),
] as string[];

interface StringCount {
    [key: string]: number;
}

function countAndSortTags(allTags: string[]): [string, number][] {
    const counts: StringCount = {};
    allTags.forEach((tag) => {
        counts[tag] = (counts[tag] || 0) + 1;
    });
    const sortedCounts: [string, number][] = Object.entries(counts).sort(
        (a, b) => a[0].localeCompare(b[0])
    );
    return sortedCounts;
}
const tagsWithCount = countAndSortTags(allTags);
// const uniqueTags = Array.from(new Set([...allTags]));
---

<MainFlow title="All Tags">
    <h1>All Tags</h1>
    <ul class="sm:block sm:columns-3 columns-2">
        {
            tagsWithCount.map((tag) => (
                <li>
                    <a href={`/tags/${tag[0]}`}>
                        {tag[0]} ({tag[1]})
                    </a>
                </li>
            ))
        }
    </ul>
</MainFlow>
