---
import MainFlow from '@layouts/MainFlow.astro';
import PostListing from '@components/PostListing.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');

// Birds make sound
const response = await fetch('https://birdsmakesound.com/feed/feed.json');
const { items } = await response.json();
// console.log(items);
const formattedBMS = items.map((item) => ({
    bms: true,
    data: {
        date: new Date(item.date_published),
        title: item.title,
        slug: item.url,
    },
}));
const combinedPosts = [...allPosts, ...formattedBMS].sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<MainFlow>
    <h1>Posts</h1>
    <ul>
        {combinedPosts.map((post) => <PostListing post={post} />)}
    </ul>
</MainFlow>
