---
import MainFlow from '@layouts/MainFlow.astro';
import PostListing from '@components/PostListing.astro';
import getCombinedPosts from '@utils/getCombinedPosts';

const combinedPosts = await getCombinedPosts();
---

<MainFlow>
    <h1>Posts</h1>
    <ul>
        {combinedPosts.map((post) => <PostListing post={post} />)}
    </ul>
</MainFlow>
