---
import Base from '@layouts/Base.astro';
import { metadata } from 'src/metadata.ts';
import Greetings from '@components/home/Greetings.astro';
import RecentPosts from '@components/home/RecentPosts.astro';
import FeaturedProjects from '@components/home/FeaturedProjects.astro';
---

<Base>
    <main>
        <Greetings />
        <RecentPosts />
        <FeaturedProjects />
    </main>
</Base>
