---
import MainFlow from '@layouts/MainFlow.astro';
---

<MainFlow>
    <form
        action="/api/login"
        method="post"
        class="grid grid-cols-2 w-fit gap-4"
    >
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <button
            class="bg-black text-white dark:bg-white dark:text-black rounded col-span-2"
            >Continue</button
        >
    </form>
</MainFlow>
