---
export const prerender = false;

const searchParams = new URL(Astro.request.url).searchParams;
const commentId = searchParams.get('commentId');
const secret = searchParams.get('secret');
---

<div class="container">
    <div class="flex gap-8 flex-col">
        <p>Comment: {commentId}</p>
        <form action=`/api/comments/deleteComment` method="POST">
            <input type="hidden" name="commentId" value={commentId} />
            <input type="hidden" name="secret" value={secret} />
            <button type="submit">Delete Comment</button>
        </form>

        <form
            action="https://api.netlify.com/build_hooks/666dbd21a47b0a07b3485739"
            method="POST"
        >
            <button type="submit"> Trigger Site Rebuild </button>
        </form>
    </div>
</div>

<style>
    body {
        background: #222;
        color: white;
    }
    button {
        border-radius: 0.5rem;
        background: red;
        padding: 0.5rem 1rem;
    }
    .container {
        width: 100%;
        height: 100svh;
        display: grid;
        justify-content: center;
        align-items: center;
        /* place-items: center; */
    }
</style>
