---
import { getCollection } from "astro:content";
import ProjectListing from "@components/ProjectListing.astro";
const projects = await getCollection("projects");
const featuredProjects = projects.filter(({ data }) => data.featured);
const moreProjects = projects.length - featuredProjects.length;
---

<section class="flow">
    <h2>Featured Projects</h2>
    <ul class="flex flex-col gap-6">
        {
            featuredProjects.map((project) => (
                <ProjectListing project={project} />
            ))
        }
    </ul>
    <p>
        <a href="/projects"
            >View {moreProjects} more project{moreProjects > 1 ? "s" : null}</a
        >
    </p>
</section>
