---

---

<section class="flow">
    <h2 id="projects">Featured Projects</h2>
    <!-- {% css %} -->
    <!-- {% include "public/css/projects-list.css" %} -->
    <!-- {% endcss %} -->
    <ul class="projects-ul">
        <!-- {% for project in collections.projects | featured %} -->
        <!-- <li class="projects-li">
                <a class="projects-a" href="{{ project.url }}">
                    {{ project.data.title }}
                </a>
                <p class="project-description">{{ project.data.description }}</p>
            </li> -->
        <!-- {% endfor %} -->
    </ul>
    <!-- {% set moreProjects = collections.projects | length - collections.projects | featured | length %} -->
    <p>
        <!-- <a href="/projects">View {{ moreProjects }} more project{{ 's' if moreProjects > 1 }}</a> -->
    </p>
</section>
