---
import { metadata } from 'src/metadata.ts';
---

<section class="flow">
    <h1>Hello, world</h1>
    <p>I'm an Arizona-based software engineer, birder, and musician.</p>
    <div class="social-container">
        <span>Find me on: </span>
        <ul>
            {
                metadata.socials.map((social) => (
                    <li>
                        <a
                            href={social.url}
                            target="_blank"
                            title={social.name}
                        >
                            <p class="visually-hidden">{social.name}</p>
                            <Fragment set:html={social.svg} />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</section>

<style is:global>
    .social-container svg {
        height: 24px;
        width: 24px;
        &:hover {
            color: var(--text-color-link);
        }
    }
</style>
<style>
    .social-container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .social-container ul {
        display: flex;
    }

    .social-container li {
        display: inline;
        margin-inline-start: 0.75em;
    }

    .social-container a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
