---
import getCombinedPosts from '@utils/getCombinedPosts';
import PostListing from '@components/PostListing.astro';

const numOfPosts = 5;
const allPosts = await getCombinedPosts();
const recentPosts = allPosts.slice(0, numOfPosts);
const remainingPosts = allPosts.length - numOfPosts;
---

<section class="flow">
    <h2>Recent Posts</h2>
    <ul>
        {recentPosts.map((post) => <PostListing post={post} />)}
    </ul>
    <p><a href="/blog">View {remainingPosts} more posts</a></p>
</section>
