---
import dayjs from '@utils/dayjs';

const { date, format } = Astro.props;
const readableDate = dayjs(date).utc().format(format);
---

<div>
    <time datetime={date}>{readableDate}</time>
</div>

<style>
    time {
        font-size: var(--step--1);
    }
</style>
