---
const year = new Date().getFullYear();
---

<footer>
    <span>&copy; Parker Davis {year}</span>
    <span>
        <a
            href=`https://github.com/parkerdavis1/agave-astro/tree/main/pages${Astro.url.pathname}`
        >
            Edit this page on github</a
        >
    </span>
</footer>
