---
const year = new Date().getFullYear();
---

<footer>
    <span>&copy; Parker Davis {year}</span>
</footer>

<style>
    footer {
        padding-top: 2rem;
        padding-inline: 1rem;
        font-size: var(--step--1);
    }
</style>
