---
import { metadata } from 'src/metadata.ts';
import Icon from './Icon.astro';

const nav = [
    { text: 'About', url: '/about' },
    { text: 'Projects', url: '/projects' },
    { text: 'Blog', url: '/blog' },
];
---

<header>
    <h1>
        <a href="/" class="home-link font-bold mr-8 no-underline"
            >{metadata.title}</a
        >
    </h1>

    <div class="icon" style="max-width: 6rem">
        <Icon icon="btsp" />
    </div>

    <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="flex flex-wrap items-end gap-2">
            {
                nav.map((link) => (
                    <li class="nav-item inline-block pr-2">
                        <a href={link.url} class="no-underline">
                            {link.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

<style>
    :root {
        --icon-width: clamp(3rem, 20vw, 5rem);
        --icon-height: 80px;
    }

    header {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: var(--icon-width) 1fr;
        grid-template-areas:
            'icon title'
            'icon nav';
        column-gap: 1rem;
        align-items: end;
        margin-block: 4rem;
        margin-top: 3rem;
    }

    h1 {
        font-size: var(--step-3);
    }

    header a {
        text-decoration: none;
        & :hover {
            text-decoration: underline;
        }
    }

    .icon {
        grid-area: icon;
        align-self: start;
        width: var(--icon-width);
    }

    .home-link {
        grid-area: title;
    }

    nav {
        grid-area: nav;
        line-height: 1.25rem;
    }

    .nav-item {
        border-right: 1px dotted var(--text-color);
    }

    .nav-item:first-of-type {
        padding-inline-start: 0;
    }

    .nav-item:last-of-type {
        border: none;
    }
</style>
