---
const { githubUrl, liveUrl } = Astro.props;
---

<div class="project-links">
    <ul>
        {
            liveUrl && (
                <li class="project-link-container">
                    <svg
                        class="tags-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill="currentColor"
                            d="M17.9 17.39c-.26-.8-1.01-1.39-1.9-1.39h-1v-3a1 1 0 0 0-1-1H8v-2h2a1 1 0 0 0 1-1V7h2a2 2 0 0 0 2-2v-.41a7.984 7.984 0 0 1 2.9 12.8M11 19.93c-3.95-.49-7-3.85-7-7.93c0-.62.08-1.22.21-1.79L9 15v1a2 2 0 0 0 2 2m1-16A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"
                        />
                    </svg>
                    <a href={liveUrl}>Live demo</a>
                </li>
            )
        }
        {
            githubUrl && (
                <li class="project-link-container">
                    <svg
                        class="tags-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill="currentColor"
                            d="M9.5 8.5L11 10l-3 3l3 3l-1.5 1.5L5 13l4.5-4.5m5 9L13 16l3-3l-3-3l1.5-1.5L19 13l-4.5 4.5M21 2H3a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2m0 18H3V6h18v14Z"
                        />
                    </svg>
                    <a href="{{ githubUrl }}">Source code (github)</a>
                </li>
            )
        }
    </ul>
</div>

<style>
    ul {
        padding-left: 0;
    }

    .project-link-container {
        display: flex;
        align-items: center;
        column-gap: 0.5em;
    }

    .tags-icon {
        height: 1rem;
        width: 1rem;
    }
</style>
