---
import 'src/styles/global.css';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="canonical" href={Astro.site?.origin + Astro.url.pathname} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
        <script>
            const allPictures =
                document.querySelectorAll<HTMLImageElement>(
                    'img:not(.no-fade)'
                );

            allPictures.forEach((image) => {
                image.style.opacity = '0';
            });

            allPictures.forEach((image) =>
                image.addEventListener('load', (event) => {
                    const image = event.target as HTMLImageElement;
                    image.style.transition = 'opacity 1s';
                    image.style.opacity = '1';
                })
            );

            // Backup if image is loaded from the cache;
            allPictures.forEach((image) => {
                if (image.complete) {
                    image.style.transition = 'opacity 1s';
                    image.style.opacity = '1';
                }
            });
        </script>
    </body>
</html>
