---
import Base from '@layouts/Base.astro';
const { project } = Astro.props;
---

<Base>
    <div class="toc-container">
        <aside>toc</aside>
        <main>
            <article class="flow">
                <h1>{project.data.title}</h1>
                <ul>tags</ul>
            </article>
        </main>
    </div>
</Base>
